@import '../../theme/variables';


.about-me .content {
  padding-top: 30px;

  #profile-picture-wrapper {
    margin-bottom: 83px;

    #profile-picture {
      img {
        max-width: 100%;
        width: 100%;
      }
    }

  }

  #profile-info-wrapper {
    margin-bottom: 83px;
    padding: 0 0 0 15px;

    #profile-info {
      p {
        &.say-something {
          margin-bottom: 10px;
          line-height: 1;
          font-size: 1.777em;
        }

        &.passion {
          line-height: 1.2;
          margin-bottom: 31px;
          font-size: 2.369em;
          span {
            color: $light-primary-color;
            // font-weight: 400;
          }
        }

        &.description {
          margin-bottom: 31px;
        }
      }

      >p:not(.passion) {
        width: 90%;
      }
    }

    .button-wrapper {
      margin-top: 2rem;

      a.single-button {
        padding: 10px 25px;
        display: inline-block;
        position: relative;
        transition: 0.4s ease-in-out;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 165px;
        text-align: center;
        margin-right: 1rem;
        color: $light-primary-color;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          border: 1px solid rgba($light-primary-color, $alpha: .5);
          transition: 0.4s ease-in-out;
        }

        i {
          margin-right: 5px;
        }

        &:hover:before {
          opacity: 0;
          transform: scale(1.2, 1.2);
        }

        &#contact-me-button {
          background: $light-primary-color;
          color: $white;
          font-weight: 600;
        }
      }
    }
  }
}

.personal-info {
  .content {
    padding: 2rem;
    margin: 3rem 0;
  }

  ul.single-grouping-profile {
    &:nth-of-type(odd) {
      padding-right: 15px;

      @media (max-width: 767px) {
        padding-right: 0;
      }
    }

    &:nth-of-type(even) {
      padding-left: 15px;

      @media (max-width: 767px) {
        padding-left: 0;
      }
    }

    li {
      margin-bottom: 6px;
      display: flex;
      justify-content: space-between;
      border-bottom: .5px solid rgba(#7b7b7b, $alpha: .5);

      .label {
        display: flex;
        align-items: baseline;
        margin-right: 5px;
        color: $light-primary-color;

        i {
          display: none;
          margin-right: 5px;
        }
      }

      .dash {
        display: none;
        margin-left: 4px;
        margin-right: 4px;
      }

      .value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.fun-facts {
  margin-bottom: 53px;

  .content {
    padding-top: 30px;

    .inner-fun-facts {
      padding: 45px 30px 0;

      .single-fun-fact {
        text-align: center;
        margin-bottom: 42px;

        &:nth-of-type(3n + 1) {
          padding-right: 15px;

          @media (max-width: 767px) {
            padding-right: 0;
          }
        }

        &:nth-of-type(3n + 2) {
          padding-left: 15px;
          padding-right: 15px;

          @media (max-width: 767px) {
            padding-left: 0;
            padding-right: 0;
          }
        }

        &:nth-of-type(3n + 3) {
          padding-left: 15px;

          @media (max-width: 767px) {
            padding-left: 0;
          }
        }

        .fun-fact-icon {
          margin-bottom: 5px;
        }

        .fun-fact-value {
          font-size: 1.777em;
          margin-bottom: 1px;
        }

        .fun-fact-title {
          text-transform: uppercase;
          line-height: 1.35em;

          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.services {
  margin-bottom: 30px;

  .content {
    padding-top: 30px;

    .single-service {
      margin-bottom: 30px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:nth-of-type(2n + 1) {
        padding-right: 15px;

        @media (max-width: 767px) {
          padding-right: 0;
        }
      }

      &:nth-of-type(2n + 2) {
        padding-left: 15px;

        @media (max-width: 767px) {
          padding-left: 0;
        }
      }

      .material-shadow {
        height: 100%;
        display: flex;
        flex-direction: column;

        .service-descripttion {
          padding: 30px 30px 23px;

          li {
            &.service-icon {
              margin-bottom: 11px;
            }

            &.service-title {
              margin-bottom: 9px;
              text-transform: uppercase;
              line-height: 1.35em;

              i {
                margin-right: 5px;
              }
            }
          }
        }

        .service-tools {
          flex: 1;
          padding: 30px 30px 23px;

          li {
            display: flex;
            flex-wrap: wrap;

            span {
              background-color: $light-primary-color;
              color: $white;
              border-radius: 3rem;
              font-size: 12px;
              padding: 0 10px;
              margin: 0 7px 5px 0;
            }
          }
        }
      }


    }
  }
}

.testimonials {
  .content {
    min-height: 45rem;

    .carousel-item {
      text-align: center;
      padding: 5rem 2rem;

      img {
        max-width: 170px;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
        border-radius: 50%;
      }

      p {
        max-width: 40rem;
        margin: 3rem auto;
        font-size: 16px;
        color: #7b7b7b;
        line-height: 1.6;

        .fa-quote-left {
          font-size: 20px;
          color: $dark-primary-color;
        }
      }

      h4,
      h5 {
        color: $dark-primary-color;
        line-height: 1.8;
      }

      h5 {
        margin-bottom: 1rem;
      }

      .social-media {
        text-align: center;
        line-height: 1;

        a {
          color: #34bbff;
          border: 1px solid #34bbff;
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-left: 4px;
          margin-right: 4px;
          position: relative;
          cursor: pointer;
          line-height: 1;
          transition: 0.4s ease-in-out;

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            border: 1px solid transparent;
            border-radius: 50%;
            transition: 0.4s ease-in-out;
          }

          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          &:hover {
            background: #34bbff;
            color: #fff;

            &:before {
              opacity: 0;
              border: 1px solid #34bbff;
              transform: scale(1.5, 1.5);
            }
          }

        }
      }
    }

    .carousel-control-next,
    .carousel-control-prev {

      .fa-angle-left,
      .fa-angle-right {
        font-size: 4rem;
        color: $light-primary-color;
      }
    }
  }
}
