<!-- Main Content (ABOUT) Starts -->
<div id="about" class="main-content active slideLeftToRight">

  <!-- Head Content Starts -->
  <div class="head-content">
    <div class="inner-top-head-content">
      <div class="container">
        <!-- Main Title Starts -->
        <!-- <h2 class="main-title">ABOUT ME</h2> -->
        <!-- Main Title Ends -->
      </div>
    </div>
  </div>
  <!-- Head Content Ends -->

  <!-- Body Content Starts -->
  <div class="body-content">
    <div id="page-scroll" class="inner-body-content" data-simplebar>

      <!-- Summary Starts -->
      <summary></summary>
      <!-- Summary Ends -->

      <!-- Personal Info Starts -->
      <personal-info></personal-info>
      <!-- Personal Info Ends -->

      <!-- Fun Facts Starts -->
      <fun-facts></fun-facts>
      <!-- Fun Facts Ends -->

      <!-- Services Starts -->
      <services></services>
      <!-- Services Ends -->

      <!-- Testimonials Starts -->
      <testimonial></testimonial>
      <!-- Testimonials Ends -->

    </div>
  </div>
  <!-- Body Content Ends -->
</div>
<!-- Main Content (ABOUT) Ends -->
