/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

/* Basic styling */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Theme variables for light and dark modes */
:root {
    --background-color-light: #f5f5f5;
    --text-color-light: #333;
    --background-color-dark: #121212;
    --text-color-dark: #fff;
    --link-color-light: #0073b1;
    --link-color-dark: #1e90ff;
    --cta-background-light: #0073b1;
    --cta-background-dark: #1e90ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--background-color-dark);
        --text-color: var(--text-color-dark);
        --link-color: var(--link-color-dark);
        --cta-color: var(--cta-background-dark);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--background-color-light);
        --text-color: var(--text-color-light);
        --link-color: var(--link-color-light);
        --cta-color: var(--cta-background-light);
    }
}

/* Container for overall page structure */
.container {
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styling */
header {
    padding: 20px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.header-text {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    word-spacing: -5px;
}

p,
a {
    font-size: 1em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.icon {
    height: 18px;
    width: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--link-color-light);
}

.icon.linkedin-icon {
    height: 20px;
    width: 20px;
    mask: url("assets/icons/linkedin.svg") no-repeat center;
}

.icon.github-icon {
    mask: url("assets/icons/github.svg") no-repeat center;
}

.icon.mail-icon {
    mask: url("assets/icons/mail.svg") no-repeat center;

}

.icon.open-in-new-tab-icon {
    mask: url("assets/icons/open-in-new-tab.svg") no-repeat center;
}

@media (prefers-color-scheme: dark) {
    .icon {
        background-color: var(--link-color-dark);
    }
}

.contact-details {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-details.cta-container {
    margin-top: 30px;
}

.contact-details p {
    display: flex;
    align-items: center;
}

.cta {
    padding: 7px 10px;
    min-width: 180px;
    border: 1px solid var(--cta-color);
    background-color: var(--cta-color);
    color: var(--text-color-dark);
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-weight: 600;
}

.cta.contact-me i {
    background-color: var(--text-color-dark);
}

.cta.resume {
    background-color: initial;
    color: var(--cta-color);
}

.cta.resume:hover i {
    background-color: var(--text-color-dark);
}

.cta:hover {
    background-color: var(--cta-color);
    color: var(--text-color);
    transition: .2s all;
    text-decoration: none;
}

.about {
    padding: 20px;
    border-radius: 8px;
}

.about p {
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-top: 10px;
    font-size: .9em;
}

/* Media Queries */
@media (max-width: 600px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 1.5em;
    }

    .header-text {
        margin-left: 0;
        text-align: center;
    }

    .contact-details {
        justify-content: center;
    }

    h2 span:not(:nth-child(2)) {
        display: inline-block;
        min-width: 172px;
    }

    h2 span:first-of-type {
        text-align: end;
    }

    p,
    a {
        font-size: 0.9em;
    }

    .container {
        padding: 0px;
    }

    .about {
        padding: 0;
        border-radius: 8px;
    }

    .cta {
        min-width: 140px;
    }

    main {
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    h2 {
        flex-direction: column;
        gap: 5px;
        line-height: 1.2;
    }

    h2 span {
        text-align: center !important;
    }

    h2 span:nth-child(2) {
        display: none;
    }

    h2 span:nth-child(3) {
        position: relative;
        font-weight: 300;
    }

    h2 span:nth-child(3)::before {
        content: "(";
        position: absolute;
        left: -10px;
    }

    h2 span:nth-child(3)::after {
        content: ")";
        position: absolute;
        right: -10px;
    }
}