<!-- Main Content (PORTFOLIO) Starts -->
<div id="portfolio" class="main-content active slideLeftToRight">

  <!-- Head Content Starts -->
  <div class="head-content">
    <div class="inner-top-head-content">
      <div class="container">
        <!-- Main Title Starts -->
        <!-- <h2 class="main-title">MY PORTFOLIO</h2> -->
        <!-- Main Title Ends -->
      </div>
    </div>
  </div>
  <!-- Head Content Ends -->

  <!-- Body Content Starts -->
  <div class="body-content">
    <div class="inner-body-content" data-simplebar>

      <!-- Projects Starts -->
      <div class="work-experience">
        <div class="container">
          <!-- Title Starts -->
          <div class="title">
            <h5>Projects</h5>
          </div>
          <!-- Title Ends -->
          <!-- Content Starts -->
          <div class="content">
            <div class="row no-gutters">

              <!-- Single Work Experience Starts -->
              <div class="single-work-experience col-md-6">
                <ul class="material-shadow">
                  <li class="work-experience-name-with-place">
                    <span class="work-experience-name">Insurer-Broker Platform</span>
                    <span class="work-experience-place">
                      <span class="at">at,</span>
                      <a href="https://selise.ch/" target="_blank">
                        SELISE rockin' software | Swiss Secure Software
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </span>
                  </li>

                  <li class="work-experience-when-where">
                    <span>
                      <i class="fas fa-calendar-alt"></i>
                      <span>15 Jul 2019 - Present</span>
                    </span>
                  </li>

                  <li class="work-experience-body">
                    <ul>
                      <li>
                        Consumer-facing web application that combines the interests of insurance, broker and software
                        manufacturer companies with regard to the design of electronic business in the broker market. It
                        is used to develop industry-wide standards for electronic communication between insurers and
                        brokers and make them available to its members for the direct use and development of specific
                        solutions.
                      </li>

                      <li><strong>👇 Solved challenging problems:</strong></li>

                      <li>✔ Built and published the client side web application from scratch actively developing and
                        leading the front end team.</li>
                      <li>✔ Helped 3 engineers write code 4x faster by developing component based modular application
                        architecture using Angular & Angular Material.</li>
                      <li>✔ Increased 50% user reach by localizing the application to 4 locales(EN, DE, FR & IT).</li>
                      <li>✔ Ensured the client side security by implementing Azure B2C and OpenID certified client
                        library for user authentication.</li>
                      <li>✔ Made 6000+ users able to work bug free everyday on the application by maintaining a proper
                        chain of environments (dev, test, stg, iat & prod).</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- Single Work Experience Ends -->

              <!-- Single Work Experience Starts -->
              <div class="single-work-experience col-md-6">
                <ul class="material-shadow">
                  <li class="work-experience-name-with-place">
                    <span class="work-experience-name">DHL - Courier Service Statistics</span>
                    <span class="work-experience-place">
                      <span class="at">as,</span>
                      <a>
                        Freelance Software Engineer
                      </a>
                    </span>
                  </li>

                  <li class="work-experience-when-where">
                    <span>
                      <i class="fas fa-calendar-alt"></i>
                      <span>25 August 2019 - 05 February 2020</span>
                    </span>
                  </li>

                  <li class="work-experience-body">
                    <ul>
                      <li>Data heavy statistical web application to track courier’s status, routing and success rate. It
                        includes a robust weekly, monthly and yearly performance monitoring dashboard with graphs and
                        reports(csv, xlsx & pdf).</li>
                      <li><strong>👇 Solved challenging problems:</strong></li>
                      <li>✔ Built and deployed the whole client side web application integrating a rest API service
                        built with Asp.Net.</li>
                      <li>✔ Improved decision making to almost double by implementing a dashboard with complex charts
                        visualizing the statistics using Apex Chart library.</li>
                      <li>✔ Improved performance of loading huge dataset by implementing pagination, sorting & searching
                        using API support.</li>
                      <li>✔ Increased users accessibility with renowned report files by implementing data export (in
                        csv, xlsx & pdf) feature.</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- Single Work Experience Ends -->

              <!-- Single Work Experience Starts -->
              <div class="single-work-experience col-md-6">
                <ul class="material-shadow">
                  <li class="work-experience-name-with-place">
                    <span class="work-experience-name">SLM - Soldier’s Leave Management</span>
                    <span class="work-experience-place">
                      <span class="at">as,</span>
                      <a>
                        Freelance Software Engineer
                      </a>
                    </span>
                  </li>

                  <li class="work-experience-when-where">
                    <span>
                      <i class="fas fa-calendar-alt"></i>
                      <span>1 March 2019 - 22 June 2019</span>
                    </span>
                  </li>

                  <li class="work-experience-body">
                    <ul>
                      <li>
                        Leave management application that helps connecting soldiers & manage leaves who work really far
                        away from city life and has limited connection to the internet.
                      </li>
                      <li><strong>👇 Solved challenging problems:</strong></li>
                      <li>✔ Built and deployed the whole client side web application integrating rest API.</li>
                      <li>✔ Reduced data loading time due to internet speed limitation by implementing client side
                        caching.</li>
                      <li>✔ Improved page loading time in 5x by using advanced web performance techniques for Angular
                        (tree shaking, lazy loading, preloading).</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- Single Work Experience Ends -->

              <!-- Single Work Experience Starts -->
              <div class="single-work-experience col-md-6">
                <ul class="material-shadow">
                  <li class="work-experience-name-with-place">
                    <span class="work-experience-name">Arbree Attendance</span>
                    <span class="work-experience-place">
                      <span class="at">at,</span>
                      <a href="https://www.arbree.com/" target="_blank">
                        Arbree Limited
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </span>
                  </li>

                  <li class="work-experience-when-where">
                    <span>
                      <i class="fas fa-calendar-alt"></i>
                      <span>Aug 2018 – May 2019</span>
                    </span>
                  </li>

                  <li class="work-experience-body">
                    <ul>
                      <li>
                        Arbree Attendance is a complete digital attendance solution covering employee tracking, leave
                        management and statistics.
                      </li>
                      <li><strong>👇 Solved challenging problems:</strong></li>
                      <li>✔ To make it available across devices, I worked on different technology platforms(Ionic:
                        mobile, Angular: Web).</li>
                      <li>✔ Improved digital attendance system by implementing location & QR code based attendance from
                        mobile app using Ionic and Cordova native plugins.</li>
                      <li>✔ Raised sell and customer satisfaction by implementing real time data synchronization and
                        push notification.</li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- Single Work Experience Ends -->

            </div>
          </div>
          <!-- Content Ends -->
        </div>
      </div>
      <!-- Projects Ends -->
    </div>
  </div>
  <!-- Body Content Ends -->
</div>
<!-- Main Content (PORTFOLIO) Ends -->
