@import '../../theme/variables';

.work-experience {
  margin-bottom: 23px;

  .content {
    padding-top: 30px;

    .single-work-experience {
      margin-bottom: 30px;

      &:nth-of-type(odd) {
        padding-right: 15px;

        @media (max-width: 767px) {
          padding-right: 0;
        }
      }

      &:nth-of-type(even) {
        padding-left: 15px;

        @media (max-width: 767px) {
          padding-left: 0;
        }
      }

      >ul {
        height: 100%;

        padding: 25px 30px 23px;

        >li {
          &.work-experience-name-with-place {
            margin-bottom: 7px;
            line-height: 1.3em;
            display: flex;
            flex-direction: column;

            .work-experience-name {
              margin-bottom: 7px;
            }

            .work-experience-place {
              .at {
                color: #7b7b7b;
                margin-right: 5px;
                font-size: 12px;
                font-weight: 500;
              }

              a {
                font-weight: 500;
                color: $light-primary-color;
                font-size: 14px;
              }

            }
          }

          &.work-experience-when-where {
            margin-bottom: 1rem;
            color: #7b7b7b;
            font-size: 13px;
            span:first-of-type {
              margin-right: 10px;
            }

            i {
              color: $light-primary-color;
              margin-right: 5px;
            }
          }

          &.work-experience-body>ul>li {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
