<!-- Main Content (CONTACT) Starts -->
<div id="contact" class="main-content active slideLeftToRight">
  <!-- Head Content Starts -->
  <div class="head-content">
    <div class="inner-top-head-content">
      <div class="container">
        <!-- Main Title Starts -->
        <!-- <h2 class="main-title">CONTACT ME</h2> -->
        <!-- Main Title Ends -->
      </div>
    </div>
  </div>
  <!-- Head Content Ends -->
  <!-- Body Content Starts -->
  <div class="body-content">
    <div class="inner-body-content" data-simplebar>
      <!-- Contact Info Starts -->
      <div class="contact-info">
        <div class="container">
          <!-- Title Starts -->
          <div class="title">
            <h5>Contact Info</h5>
          </div>
          <!-- Title Ends -->
          <!-- Content Starts -->
          <div class="content">
            <div class="inner-contact-info row no-gutters">
              <!-- Single Contact Info Starts -->
              <div class="single-contact-info col-md-4">
                <div class="single-contact-info-wrap material-shadow">
                  <div class="contact-info-icon">
                    <i class="fas fa-phone fa-3x"></i>
                  </div>
                  <div class="contact-info-name">
                    <span>+88 01915830908</span>
                  </div>
                </div>
              </div>
              <!-- Single Contact Info Ends -->
              <!-- Single Contact Info Starts -->
              <div class="single-contact-info col-md-4">
                <div class="single-contact-info-wrap material-shadow">
                  <div class="contact-info-icon">
                    <i class="far fa-envelope fa-3x"></i>
                  </div>
                  <div class="contact-info-name">
                    <span>abdun.nahid@gmail.com</span>
                  </div>
                </div>
              </div>
              <!-- Single Contact Info Ends -->
              <!-- Single Contact Info Starts -->
              <div class="single-contact-info col-md-4">
                <div class="single-contact-info-wrap material-shadow">
                  <div class="contact-info-icon">
                    <i class="fas fa-map-marker-alt fa-3x"></i>
                  </div>
                  <div class="contact-info-name">
                    <span>Dhaka, Bangladesh</span>
                  </div>
                </div>
              </div>
              <!-- Single Contact Info Ends -->
            </div>
          </div>
          <!-- Content Ends -->
        </div>
      </div>
      <!-- Contact Info Ends -->
      <!-- Contact Form Starts -->
      <div class="contact-form">
        <div class="container">
          <!-- Title Starts -->
          <div class="title">
            <h5>Contact Form</h5>
          </div>
          <!-- Title Ends -->
          <!-- Content Starts -->
          <div class="content">
            <div class="inner-contact-form row no-gutters">
              <!-- Form Wrapper Stats -->
              <div class="form-wrapper col-md-12">
                <!-- Alert Message Starts -->
                <div class="alert"></div>
                <!-- Alert Message Ends -->
                <!-- Form Starts -->
                <form name="contact" action="https://formspree.io/mdooaaya" method="POST">
                  <div class="form-group clearfix">
                    <div class="inner-form-group">
                      <div class="material-shadow">
                        <input type="text" name="name" placeholder="Name" class="form-control" autocomplete="off"
                          required>
                      </div>
                    </div>
                    <div class="inner-form-group">
                      <div class="material-shadow">
                        <input type="email" name="email" placeholder="Email" class="form-control" autocomplete="off"
                          required>
                      </div>
                    </div>
                  </div>

                  <div class="form-group material-shadow">
                    <input type="text" name="subject" placeholder="Subject" class="form-control" autocomplete="off"
                      required>
                  </div>
                  <div class="form-group material-shadow">
                    <textarea name="message" placeholder="Message" class="form-control" autocomplete="off"
                      required></textarea>
                  </div>

                  <div class="form-group">
                    <button type="submit" id="contact-me-button">
                      <i class="fas fa-paper-plane"></i>
                      <span>Send Message</span>
                    </button>
                  </div>
                </form>
                <!-- Form Ends -->
              </div>
              <!-- Form Wrapper Ends -->
            </div>
          </div>
          <!-- Content Ends -->
        </div>
      </div>
      <!-- Contact Form Ends -->
    </div>
  </div>
  <!-- Body Content Ends -->
</div>
<!-- Main Content (CONTACT) Ends -->
