<!-- Main Content (PORTFOLIO) Starts -->
<div id="code-snaps" class="main-content active slideLeftToRight">
  <!-- Head Content Starts -->
  <div class="head-content">
    <div class="inner-top-head-content">
      <div class="container">
        <!-- Main Title Starts -->
        <!-- <h2 class="main-title">MY PORTFOLIO</h2> -->
        <!-- Main Title Ends -->
      </div>
    </div>
  </div>
  <!-- Head Content Ends -->
  <!-- Body Content Starts -->
  <div class="body-content">
    <div class="inner-body-content" data-simplebar>
      <!-- Projects Starts -->
      <div class="projects">
        <div class="container">
          <!-- Title Starts -->
          <div class="title">
            <h5>Code Snaps</h5>
          </div>
          <!-- Title Ends -->
          <!-- Content Starts -->
          <div class="content">
            <div class="inner-projects">

              <!-- Project Filters Starts -->
              <div class="project-filters">
                <!-- Single Category Starts -->
                <a href="#" data-filter="*" class="current">
                  <span>All</span>
                </a>
                <!-- Single Category Ends -->
                <!-- Single Category Starts -->
                <a href="#" data-filter=".html">
                  <span>HTML</span>
                </a>
                <!-- Single Category Ends -->
                <!-- Single Category Starts -->
                <a href="#" data-filter=".css">
                  <span>CSS</span>
                </a>
                <!-- Single Category Ends -->
                <!-- Single Category Starts -->
                <a href="#" data-filter=".js">
                  <span>JS</span>
                </a>
                <!-- Single Category Ends -->
              </div>
              <!-- Project Filters Ends -->

              <!-- Project Items Starts -->
              <div class="project-items row">

                <!-- Single Item Starts -->
                <div class="single-item col-lg-4 js">
                  <div class="item-wrapper">
                    <!-- Image Starts -->
                    <div class="image">
                      <img src="assets/code-snaps/closure/1.png" alt="closure">
                    </div>
                    <!-- Image Ends -->
                    <!-- Overlay Starts -->
                    <div class="overlay">
                      <a class="view-more" href="#closure">
                        <i class="far fa-eye"></i>
                        <span>View</span>
                      </a>
                      <div class="image-info">
                        <span class="project-name">Closure in JavaScript</span>
                        <div class="project-tags">
                          <i class="fas fa-tags"></i>
                          <span class="tag-label">JS</span>
                        </div>
                      </div>
                    </div>
                    <!-- Overlay Ends -->

                    <!-- Project Popup Starts -->
                    <div id="closure" class="project-popup mfp-hide" data-simplebar>

                      <img class="project-picture" src="assets/code-snaps/closure/1.png" alt="closure 1">
                      <img class="project-picture" src="assets/code-snaps/closure/2.png" alt="closure 2">

                      <h4 class="project-name">Closure in JavaScript</h4>

                      <div class="project-detail">

                        <ul class="list-project-info">
                          <li>
                            <span class="label">Language</span>
                            <span class="separator">:</span>
                            <span class="value">JavaScript</span>
                          </li>
                          <li>
                            <span class="label">Date</span>
                            <span class="separator">:</span>
                            <span class="value">17 December 2019</span>
                          </li>
                        </ul>

                        <div class="project-description">
                          <p>A closure is the combination of a function bundled together (enclosed) with references to
                            its surrounding state (the lexical environment). In other words, a closure gives you access
                            to an outer function’s scope from an inner function. In JavaScript, closures are created
                            every time a function is created, at function creation time. <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Closures" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                          </p>
                        </div>

                        <!-- <div class="button-wrapper">
                          <a href="#">Visit Project</a>
                        </div> -->

                      </div>
                    </div>
                    <!-- Project Popup Ends -->
                  </div>
                </div>
                <!-- Single Item Ends -->

                <!-- Single Item Starts -->
                <div class="single-item col-lg-4 js">
                  <div class="item-wrapper">
                    <!-- Image Starts -->
                    <div class="image">
                      <img src="assets/code-snaps/undefind-vs-null-vs-undeclared/1.png" alt="undefind-vs-null-vs-undeclared">
                    </div>
                    <!-- Image Ends -->
                    <!-- Overlay Starts -->
                    <div class="overlay">
                      <a class="view-more" href="#undefind-vs-null-vs-undeclared">
                        <i class="far fa-eye"></i>
                        <span>View</span>
                      </a>
                      <div class="image-info">
                        <span class="project-name">Undefind vs Null vs Undeclared</span>
                        <div class="project-tags">
                          <i class="fas fa-tags"></i>
                          <span class="tag-label">JS</span>
                        </div>
                      </div>
                    </div>
                    <!-- Overlay Ends -->

                    <!-- Project Popup Starts -->
                    <div id="undefind-vs-null-vs-undeclared" class="project-popup mfp-hide" data-simplebar>

                      <img class="project-picture" src="assets/code-snaps/undefind-vs-null-vs-undeclared/1.png" alt="undefind-vs-null-vs-undeclared">

                      <h4 class="project-name">Undefind vs Null vs Undeclared</h4>

                      <div class="project-detail">

                        <ul class="list-project-info">
                          <li>
                            <span class="label">Language</span>
                            <span class="separator">:</span>
                            <span class="value">JavaScript</span>
                          </li>
                          <li>
                            <span class="label">Date</span>
                            <span class="separator">:</span>
                            <span class="value">17 December 2019</span>
                          </li>
                        </ul>

                        <div class="project-description">
                          <p></p>
                        </div>

                        <!-- <div class="button-wrapper">
                          <a href="#">Visit Project</a>
                        </div> -->

                      </div>
                    </div>
                    <!-- Project Popup Ends -->
                  </div>
                </div>
                <!-- Single Item Ends -->

              </div>
              <!-- Project Items Ends -->
            </div>
          </div>
          <!-- Content Ends -->
        </div>
      </div>
      <!-- Projects Ends -->
    </div>
  </div>
  <!-- Body Content Ends -->
</div>
<!-- Main Content (PORTFOLIO) Ends -->
