@import './variables';

#particles {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 200px;
}

#main-content-wrapper {
  margin-left: 260px;
  height: 100%;
  position: relative;
  overflow: hidden;

  #bg-head-main-content {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    top: 0;
    z-index: 2;
  }

  #bg-body-main-content {
    position: absolute;
    left: 0;
    top: 200px;
    height: calc(100% - 200px);
    width: 100%;
    z-index: 2;
  }

  #fixed-hamburger-menu {
    height: 100px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 20;
    position: fixed;
    left: 265px;
    top: 0;

    .hamburger-menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 30px;
      height: 20px;
      cursor: pointer;

      >span {
        display: block;
        width: 100%;
        height: 1px;
      }
    }
  }

  #fixed-theme-switch-wrapper {
    height: 100px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 20;
    position: fixed;
    right: 30px;
    top: 0;

    .theme-switch-wrapper {
      display: flex;
      align-items: center;

      .theme-switch {
        display: inline-block;
        height: 30px;
        position: relative;
        width: 58px;

        input {
          display: none;

          &:checked+.slider:before {
            transform: translateX(25px);
          }
        }

        .slider {
          bottom: 0;
          cursor: pointer;
          left: 0;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          transition: .4s;

          &:before {
            bottom: 3px;
            content: "";
            height: 24px;
            left: 4px;
            position: absolute;
            transition: .4s;
            width: 25px;
          }

          &.round {
            border-radius: 30px;

            &:before {
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  >.overlay {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
  }
}

.main-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 3;

  &.active {
    visibility: visible;
  }

  &.scaleUpCenter {
    animation: scaleUpCenter 0.7s ease-out both;
  }

  &.slideLeftToRight {
    animation: slideLeftToRight 0.7s ease-out both;
  }

  &.scaleDownCenter {
    animation: scaleDownCenter 0.7s ease-in both;
  }

  .head-content {
    height: 200px;

    .inner-top-head-content {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .body-content {
    height: calc(100% - 200px);
    position: relative;

    .inner-body-content {
      position: absolute;
      z-index: 99;
      // top: -100px;
      top: -170px;
      left: 0;
      right: 30px;
      bottom: 30px;
      height: calc(100% +70px);

      // overflow-x: hidden;
      // overflow-y: auto;
      padding-top: 30px;
    }
  }

  &#home .body-content .inner-body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    padding-top: 0;

    .container {
      top: -2px;
    }

    .name-section {
      // text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 14px;
      line-height: 1.15;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -7px;
    }

    .passion-and-origin {
      display: inline-block;
      font-weight: 400;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 60px;
    }

    .social-media {
      text-align: center;
      line-height: 1;

      a {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-left: 4px;
        margin-right: 4px;
        position: relative;
        cursor: pointer;
        line-height: 1;
        transition: 0.4s ease-in-out;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          border: 1px solid transparent;
          border-radius: 50%;
          transition: 0.4s ease-in-out;
        }

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover:before {
          opacity: 0;
          transform: scale(1.5, 1.5);
        }
      }
    }
  }

  &#about .body-content .inner-body-content {
    padding-top: 53px;
  }

  &#resume .body-content .inner-body-content {
    padding-top: 53px;
  }

  &#portfolio .body-content .inner-body-content {
    padding-top: 53px;
  }

  &#contact .body-content .inner-body-content {
    padding-top: 53px;
  }
}

html.mfp-helper {
  height: 100%;
}

.inner-body-content .title {
  position: relative;
  margin-bottom: 23px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -23px;
    width: 30px;
    height: 1px;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 30px;
    bottom: -23px;
    height: 1px;
    width: calc(100% - 30px);
  }

  h5 {
    text-transform: uppercase;
  }
}
