//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: Raleway;

//colors

$dark-primary-color: #313131; // Brown Dark
// $dark-primary-color: #1C173B; // Navy Dark

$light-primary-color: #34bbff; // Blue

$white: #fff;
$black: #000;


