<!-- Main Content (PORTFOLIO) Starts -->
<div id="libraries" class="main-content active slideLeftToRight">
  <!-- Head Content Starts -->
  <div class="head-content">
    <div class="inner-top-head-content">
      <div class="container">
        <!-- Main Title Starts -->
        <!-- <h2 class="main-title">MY PORTFOLIO</h2> -->
        <!-- Main Title Ends -->
      </div>
    </div>
  </div>
  <!-- Head Content Ends -->
  <!-- Body Content Starts -->
  <div class="body-content">
    <div class="inner-body-content" data-simplebar>
      <!-- Projects Starts -->
      <div class="projects">
        <div class="container">
          <!-- Title Starts -->
          <div class="title">
            <h5>Libraries</h5>
          </div>
          <!-- Title Ends -->
          <!-- Content Starts -->
          <div class="content">
            <div class="row no-gutters">

              <!-- Single Service Starts -->
              <div class="single-service col-lg-6 col-md-6">
                <div class="material-shadow">
                  <ul class="service-descripttion">
                    <li class="service-icon">
                      <img src="assets/code-libraries/awesome-buttons.jpg" alt="awesome-buttons preview">
                    </li>
                    <li class="service-title">
                      <a href="https://button-awesome.web.app/" target="_blank">
                        Awesome Buttons
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </li>
                    <li class="service-body">
                      A simple easy to use-ready to go button library for web development.
                    </li>
                  </ul>
                  <ul class="service-tools">
                    <li>
                      <span>html</span>
                      <span>css</span>
                      <span>javascript</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Single Service Ends -->

              <!-- Single Service Starts -->
              <div class="single-service col-lg-6 col-md-6">
                <div class="material-shadow">
                  <ul class="service-descripttion">
                    <li class="service-icon">
                      <img src="assets/code-libraries/datepicker.gif" alt="datepicker preview">
                    </li>
                    <li class="service-title">
                      <a href="https://www.npmjs.com/package/ngx-aaa-datepicker" target="_blank">
                        Date Picker (single, multiple & range)
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </li>
                    <li class="service-body">
                      A datepicker component for Angular Applications. The picker is able to pick single, multiple and
                      range type of dates.
                    </li>
                  </ul>
                  <ul class="service-tools">
                    <li>
                      <span>Angular</span>
                      <span>Ionic</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Single Service Ends -->

              <!-- Single Service Starts -->
              <div class="single-service col-lg-6 col-md-6">
                <div class="material-shadow">
                  <ul class="service-descripttion">
                    <li class="service-icon">
                      <img src="../../assets/code-libraries/nahidx.png" alt="datepicker preview">
                    </li>
                    <li class="service-title">
                      <a href="https://www.npmjs.com/package/@nahidrezvee/express-cli" target="_blank">
                        nahidx - Express-Cli
                        <i class="fas fa-external-link-alt"></i>
                      </a>
                    </li>
                    <li class="service-body">
                      nahidx is a express-cli tool that helps develop rest api based express.js applications by creating
                      new project by following standard express.js project architecture and helps generate different
                      modules (Ex: Routes, Models, Middlewares).
                    </li>
                  </ul>
                  <ul class="service-tools">
                    <li>
                      <span>Node Js</span>
                      <span>Express</span>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Single Service Ends -->

            </div>
          </div>
          <!-- Content Ends -->
        </div>
      </div>
      <!-- Projects Ends -->
    </div>
  </div>
  <!-- Body Content Ends -->
</div>
<!-- Main Content (PORTFOLIO) Ends -->
