<div class="services">
  <div class="container">

    <!-- Title Starts -->
    <div class="title">
      <h5>What I do</h5>
    </div>
    <!-- Title Ends -->

    <!-- Content Starts -->
    <div class="content">
      <div class="row no-gutters">

        <!-- Single Service Starts -->
        <div class="single-service col-lg-6 col-md-6">
          <div class="material-shadow">
            <ul class="service-descripttion">
              <li class="service-icon">
                <i class="fas fa-laptop-code fa-3x"></i>
              </li>
              <li class="service-title">
                <span>Web Application Development</span>
              </li>
              <li class="service-body">
                I work on developing web applications for last 2+ years.
                I've been on couple of enterprise grade application development teams.
                Developing both Front End & Back End is the greatest pleasure to me.
              </li>
            </ul>
            <ul class="service-tools">
              <li>
                <span>#Angular</span>
                <span>#AngularMaterial</span>
                <span>#NodeJs</span>
                <span>#ExpressJs</span>
                <span>#NestJs</span>
                <span>#MongoDB</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Single Service Ends -->

        <!-- Single Service Starts -->
        <div class="single-service col-lg-6 col-md-6">
          <div class="material-shadow">
            <ul class="service-descripttion">
              <li class="service-icon">
                <i class="fas fa-mobile-alt fa-3x"></i>
              </li>
              <li class="service-title">
                <span>Mobile Application Development</span>
              </li>
              <li class="service-body">
                I am skilled with Ionic - a cross platform mobile application development tool that allows me to
                build both Android and IOS apps at once.
                I am experienced in developing and publishing apps to Application Store: Google Play.
              </li>
            </ul>
            <ul class="service-tools">
              <li>
                <span>#Ionic</span>
                <span>#Angular</span>
                <span>#Firebase</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Single Service Ends -->

        <!-- Single Service Starts -->
        <div class="single-service col-lg-6 col-md-6">
          <div class="material-shadow">
            <ul class="service-descripttion">
              <li class="service-icon">
                <i class="fas fa-pencil-ruler fa-3x"></i>
              </li>
              <li class="service-title">
                <span>UX/UI Design</span>
              </li>
              <li class="service-body">
                I work on User Interface design and create better User Experiences for Website design, Landing
                page
                design, Web apps, Mobile apps, mobile web etc.
              </li>
            </ul>
            <ul class="service-tools">
              <li>
                <span>#Illustrator</span>
                <span>#Photoshop</span>
                <span>#XD</span>
                <span>#InVision</span>
                <span>#Figma</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Single Service Ends -->

        <!-- Single Service Starts -->
        <div class="single-service col-lg-6 col-md-6">
          <div class="material-shadow">
            <ul class="service-descripttion">
              <li class="service-icon">
                <i class="fas fa-money-check fa-3x"></i>
              </li>
              <li class="service-title">
                <span>UI Development</span>
              </li>
              <li class="service-body">
                I am specialized in responsive web design and development. I'm designing & coding websites for
                the
                last handful of years.
              </li>
            </ul>
            <ul class="service-tools">
              <li>
                <span>#HTML5</span>
                <span>#CSS3</span>
                <span>#JavaScript</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Single Service Ends -->
      </div>
    </div>
    <!-- Content Ends -->
  </div>
</div>
