<!-- Main Content (PORTFOLIO) Starts -->
<div id="blog" class="main-content active slideLeftToRight">
  <!-- Head Content Starts -->
  <div class="head-content">
    <div class="inner-top-head-content">
      <div class="container">
        <!-- Main Title Starts -->
        <!-- <h2 class="main-title">MY PORTFOLIO</h2> -->
        <!-- Main Title Ends -->
      </div>
    </div>
  </div>
  <!-- Head Content Ends -->
  <!-- Body Content Starts -->
  <div class="body-content">
    <div class="inner-body-content" data-simplebar>
      <!-- Projects Starts -->
      <div class="projects">
        <div class="container">
          <!-- Title Starts -->
          <div class="title">
            <h5>Blog</h5>
          </div>
          <!-- Title Ends -->
          <!-- Content Starts -->
          <div class="content">
            <div class="articles">
              <div class="article-card material-shadow"
              routerLink="starting-with-angular-material-v7" 
              [queryParams]="{ title: 'Starting with Angular & Angular Material (v7)' }">
              
                <img src="assets/articles/starting-with-angular-material-v7/starting-with-angular-material-v7.jpg">
                <div class="info">
                  <h2>Starting with Angular & Angular Material (v7)</h2>
                  <p><span>29 May 2019</span></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Content Ends -->
        </div>
      </div>
      <!-- Projects Ends -->
    </div>
  </div>
  <!-- Body Content Ends -->
</div>
<!-- Main Content (PORTFOLIO) Ends -->
