<!-- Main Content (PORTFOLIO) Starts -->
<div id="blog" class="main-content active slideLeftToRight">
  <!-- Head Content Starts -->
  <div class="head-content">
    <div class="inner-top-head-content">
      <div class="container">
        <!-- Main Title Starts -->
        <!-- <h2 class="main-title">MY PORTFOLIO</h2> -->
        <!-- Main Title Ends -->
      </div>
    </div>
  </div>
  <!-- Head Content Ends -->
  <!-- Body Content Starts -->
  <div class="body-content">
    <div class="inner-body-content" data-simplebar>
      <!-- Projects Starts -->
      <div class="projects">
        <div class="container">
          <!-- Title Starts -->
          <div class="title">
            <h5>Blog</h5>
          </div>
          <!-- Title Ends -->
          <!-- Content Starts -->
          <div class="content">
            <app-under-construction></app-under-construction>
          </div>
          <!-- Content Ends -->
        </div>
      </div>
      <!-- Projects Ends -->
    </div>
  </div>
  <!-- Body Content Ends -->
</div>
<!-- Main Content (PORTFOLIO) Ends -->
