<div class="about-me">
  <div class="container">

    <!-- Title Starts -->
    <div class="title">
      <h5>About Me</h5>
    </div>
    <!-- Title Ends -->

    <!-- Content Starts -->
    <div class="content">
      <div class="row no-gutters justify-content-center">

        <!-- Profile Picture Wrapper Starts -->
        <div id="profile-picture-wrapper" class="col-lg-3 col-md-4 col-sm-6">
          <div id="profile-picture">
            <img src="../assets/img/abdunnahid.jpg" alt="Profile Picture">
          </div>
        </div>
        <!-- Profile Picture Wrapper Ends -->

        <!-- Profile Info Wrapper Starts -->
        <div id="profile-info-wrapper" class="col-lg-9 col-md-8 col-sm-12">
          <div id="profile-info">

            <!-- Say Something Section Starts -->
            <p class="say-something">Hello,</p>
            <!-- Say Something Section Ends -->

            <p class="description">
              I am a Full stack developer with <strong>3 years</strong> of experience building web apps on Angular and Node Js
              (Express
              Js, Nest Js). Obsessed with leaving impact, I’ve
            </p>
            <ul class="description-list">
              <li>
                ⦿ Shipped over <strong>5</strong> robust Angular applications for thousands of users worldwide.
              </li>
              <li>
                ⦿ Led the front end team collaborating with an international product team to develop and maintain
                the client side of an enterprise application of <strong>6000+</strong> daily active users.
              </li>
              <li>
                ⦿ Built a generic application framework using Angular & Nest Js to solve common business problems
                and faster product delivery. Already shipped <strong>2</strong> applications using this framework.
              </li>
            </ul>
            <p class="description">
              Back end enthusiast with intermediate knowledge in API design. Occasional open sourcer. Passionate
              to turn challenges into opportunities.
            </p>
          </div>

          <!-- Button Wrapper Starts -->
          <div class="button-wrapper">

            <!-- Single Button Starts -->
            <a class="single-button" id="contact-me-button" routerLink="/contact">
              <i class="fas fa-envelope"></i>
              <span>Hire Me</span>
            </a>
            <!-- Single Button Ends -->

            <!-- Single Button Starts -->
            <!-- <a class="single-button" id="download-cv-button" href="../../assets/files/Md. Abdun Nahid.pdf"
                download>
                <i class="fas fa-file-pdf"></i>
                <span>Download CV</span>
              </a> -->
            <!-- Single Button Ends -->

          </div>
          <!-- Button Wrapper Ends -->
        </div>
        <!-- Profile Info Wrapper Ends -->
      </div>
    </div>
    <!-- Content Ends -->
  </div>
</div>
