<!-- Main Content (HOME) Starts -->
<div id="home" class="main-content active slideLeftToRight">
  <!-- Head Content Starts -->
  <div class="head-content">
    <div class="inner-top-head-content">
      <div class="container">
        <!-- Main Title Starts -->
        <!-- <h2 class="main-title">Home</h2> -->
        <!-- Main Title Ends -->
      </div>
    </div>
  </div>
  <!-- Head Content Ends -->
  <!-- Body Content Starts -->
  <div class="body-content">
    <div class="inner-body-content">
      <div class="container">

        <!-- Name Section Starts -->
        <h1 class="name-section">
          <span class="curly-brace">&#123;</span>
          <span class="who">&nbsp;I'm&nbsp;</span>
          <span class="name">Abdun Nahid</span>
          <span class="curly-brace">&nbsp;&#x7d;</span>
        </h1>
        <!-- Name Section Ends -->

        <!-- Passion And Origin Starts -->
        <h5 class="passion-and-origin">Full Stack Developer</h5>
        <!-- Passion And Origin Ends -->

        <!-- Social Media Starts -->
        <div class="social-media">

          <!-- Single Social Media Starts -->
          <a href="https://www.linkedin.com/in/abdunnahid" target="_blank" rel="noopener" rel="noreferrer">
            <i class="fab fa-linkedin-in"></i>
            <span style="opacity: 0;">My LinkedIn</span>
          </a>
          <!-- Single Social Media Ends -->

          <!-- Single Social Media Starts -->
          <a href="https://github.com/abdunnahid" target="_blank" rel="noopener" rel="noreferrer">
            <i class="fab fa-github"></i>
            <span style="opacity: 0;">My GitHub</span>
          </a>
          <!-- Single Social Media Ends -->
          <!-- Single Social Media Starts -->
          <a href="https://www.instagram.com/abdunnahid/" target="_blank" rel="noopener" rel="noreferrer">
            <i class="fab fa-instagram"></i>
            <span style="opacity: 0;">My Instagram</span>
          </a>
          <!-- Single Social Media Ends -->

          <!-- Single Social Media Starts -->
          <a href="https://twitter.com/abdunnahid" target="_blank" rel="noopener" rel="noreferrer">
            <i class="fab fa-twitter"></i>
            <span style="opacity: 0;">My Twitter</span>
          </a>
          <!-- Single Social Media Ends -->

        </div>
        <!-- Social Media Ends -->
      </div>
    </div>
  </div>
  <!-- Body Content Ends -->
</div>
<!-- Main Content (HOME) Ends -->
