<div class="personal-info">
  <div class="container">
    <!-- Title Starts -->
    <div class="title">
      <h5>Personal Info</h5>
    </div>
    <!-- Title Ends -->
    <!-- Content Starts -->
    <div class="content material-shadow">

      <div class="profile row no-gutters">
        <!-- Single Grouping Profile Starts -->
        <ul class="single-grouping-profile col-md-6">
          <!-- Single Profile Info Starts -->
          <li>
            <span class="label">
              <i class="fas fa-dot-circle"></i>
              <span>Name</span>
            </span>
            <span class="dash">-</span>
            <span class="value">Md. Abdun Nahid</span>
          </li>
          <!-- Single Profile Info Ends -->
          <!-- Single Profile Info Starts -->
          <li>
            <span class="label">
              <i class="fas fa-dot-circle"></i>
              <span>Birthday</span>
            </span>
            <span class="dash">-</span>
            <span class="value">1 January</span>
          </li>
          <!-- Single Profile Info Ends -->

          <!-- Single Profile Info Starts -->
          <li>
            <span class="label">
              <i class="fas fa-dot-circle"></i>
              <span>Address</span>
            </span>
            <span class="dash">-</span>
            <span class="value">Dhaka, Bangladesh</span>
          </li>
          <!-- Single Profile Info Ends -->
        </ul>
        <!-- Single Grouping Profile Ends -->
        <!-- Single Grouping Profile Starts -->
        <ul class="single-grouping-profile col-md-6">
          <!-- Single Profile Info Starts -->
          <li>
            <span class="label">
              <i class="fas fa-dot-circle"></i>
              <span>Phone</span>
            </span>
            <span class="dash">-</span>
            <span class="value">+880 1915830908</span>
          </li>
          <!-- Single Profile Info Ends -->
          <!-- Single Profile Info Starts -->
          <li>
            <span class="label">
              <i class="fas fa-dot-circle"></i>
              <span>Email</span>
            </span>
            <span class="dash">-</span>
            <span class="value">abdun.nahid@gmail.com</span>
          </li>
          <!-- Single Profile Info Ends -->
          <!-- Single Profile Info Starts -->
          <li>
            <span class="label">
              <i class="fas fa-dot-circle"></i>
              <span>Languages</span>
            </span>
            <span class="dash">-</span>
            <span class="value">English, Bangla</span>
          </li>
          <!-- Single Profile Info Ends -->
        </ul>
        <!-- Single Grouping Profile Ends -->
      </div>

    </div>
    <!-- Content Ends -->
  </div>
</div>
